<div class="row info">
  <div class="col-md-12 col-sm-12">
    <h1 class="topline">A Hint of Hope</h1>
    <p class="byline">We send inspirational messages to your phone.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-sm-12 tel-input">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-phone phone-icon"></span>
      </span>
      <input class="form-control phone" ng-model="phoneNumber" type="tel"
             phoneformat="number">
      <span class="input-group-addon btn-go">
        <button ng-click="submitPhone()" class="btn btn-primary">Go</button>
      </span>
    </div>
  </div>
</div>
<div class="row msg-label-wrapper">
  <span ng-class="{label-primary:isSuccessMsg, label-danger:!isSuccessMsg}" class="label">{{msg}}</span>
</div>
