<div class="row info">
  <div class="col-md-12 col-sm-12">
    <h1 class="topline">A Hint of Hope</h1>
    <p class="byline"><b>We send inspirational messages to your phone.</b></p>
    <p class="byline"><b>Sign up below to receive one when you really need it.</b></p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-12 tel-input">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-phone phone-icon"></span>
      </span>
      <input class="form-control phone" ng-model="phoneNumber" type="tel"
             phoneformat="number">
      <span class="input-group-addon">
        <button ng-click="submitPhone()" class="btn btn-primary">Submit</button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <p class="msg" ng-class="{visible:msg != null, failColor:!isSuccessMsg, successColor:isSuccessMsg}">{{msg}}</p>
</div>
