body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.info {
    text-align: center;
    padding-bottom:20px;
}
.topline {
    font-weight: bold;
    margin-bottom:25px;
    font-size:60px;
}
.byline {
    font-size:28px;
}

.message {
    color: rgba(9, 14, 207, .75) !important;
    text-align:center !important;
    font-size:28px !important;
    font-weight:bold;
    margin-top:25px;
}

.tel-input {
    width: 59.333333%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

input.phone {
    font-size:37px;
    height:60px;
    text-align:center;
}
.phone-icon {
    font-size:2em;
    position:relative;
    top:3px;
}

.page {
    margin-top:20px;
}

.content {
    height: 90%;
    /*padding-top:50px;*/
    width: 90%;
    margin: auto;
}

.content-text {
    /*margin-top:25px;*/
    height: 80%;
    font-size: 25px;
}

.visible {
    visibility:visible;
}

.ellipsis {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
}

.text-align-right {
    text-align:right;
}

.dropdown-menu > li > a {
    padding: 4px 20px;
}
.typeahead-template-span {
    font-size:16px;
}


::-webkit-input-placeholder {
    color: rgba(9, 14, 207, .5);
}
:-moz-placeholder {
    color: rgba(9, 14, 207, .5);
}
::-moz-placeholder {
    color: rgba(9, 14, 207, .5);
}
:-ms-input-placeholder {
    color: rgba(9, 14, 207, .5);
}

/* For Angular-UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Home page */

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../img/lake-compressed.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.input-group-addon {
    padding-right: 15px;
    padding-left: 15px;
}

.btn-go {
    padding-right: 5px;
    padding-left: 5px;
}

.msg-label-wrapper {
    margin-top: 20px;
    text-align: center;
}

span.label {
    font-size: 15px;
}

@media only screen and (max-device-width: 750px) {
    .tel-input {
        width: 100%;
    }

    .byline {
        font-size: 26px;
    }

    input.phone {
        font-size: 26px;
    }

    html {
        min-height: 100%;
    }
}